<body>
<div class="contenedor"> 
    <h2 class="titulo">Notificaciones</h2>
   <div class="form"> 
       
        <div class="div-respuesta" *ngIf="respuestaNotificacion">
            <p>{{ respuestaNotificacion }}</p>
        </div>

        <!-- Formulario para agregar un nuevo acuerdo -->
        <form id="formCrear" class="Formulario" #form="ngForm" (ngSubmit)="agregarNotificacion(form.value)">
            <!-- ... Otros campos del formulario ... -->

            <div class="form-group">
                <label for="fraccionamiento">Fraccionamiento:</label>
                <input type="number" id="idFraccionamiento" name="idFraccionamiento" [(ngModel)]="id_fraccionamineto" required disabled>

            </div>

            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <select id="tipo" name="tipo" required ngModel>
                    <option value="general" >General</option>
                    <option value="individual" >Individual</option>
                </select>
            </div>

 

            <div class="form-group">
                <label for="destinatario">Destinatario:</label>
                <select id="destinatario" name="destinatario" required ngModel>
                    <option value={{usuario.id_persona}} *ngFor="let usuario of personas">
                        {{usuario.nombre}} {{usuario.apellido_pat}} {{usuario.apellido_mat}}
                    </option>
                </select>
            </div>


            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" required ngModel>
            </div>


            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required ngModel></textarea>
            </div>

            <div class="form-group">
                <label for="id_notificacion">ID de Notificación:</label>
                <input type="number" id="id_notificacion" name="id_notificacion" [(ngModel)]="idNotificacion">
            </div>


            <div class="botones-container">
                <button class="boton-verde">Agregar</button>
              </div>
        </form>
    </div>
 

    <div class="contenedor1">
        <form id="buscar">
            <input type="text" name="filtrar" placeholder="buscar" [(ngModel)]="filtroNotificaciones">

            <div class="select-container">
                <label for="tipoNotificacion">Tipo de Notificación:</label>
                <select id="tipoNotificacion" (change)="filtrarPorTipo($event)">
                    <option value="General">General</option>
                    <option value="Individual">Individual</option>
                </select>
            </div>
        </form>


 
    <div class="contenedor2">
 
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Asunto</th>
                    <th>Detalles</th>
                    <th>destinatario</th>
                    <th>Eliminar</th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let notificacion of notificaciones | filtroNotificaciones: 'asunto': filtroNotificaciones">
                    <td>{{ notificacion.id_notificacion }}</td>
                    <td>{{ notificacion.asunto }}</td>
                    <td>{{ notificacion.mensaje }}</td>
                    <td>{{ notificacion.id_destinatario }}</td>
                    <td>
                        <a class="btn btn-sm text-white btn-danger" style="margin: auto;"
                                (click)="eliminarNotificacionPorId(notificacion.id_notificacion)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
</body>