<body>
<div class="contenedor">
    
  <div class="form">
    <h2 class="titulo">Egresos</h2>
    <!-- Formulario para agregar un nuevo egreso -->
    <form id="formCrear" class="Formulario">

        <label for="fraccionamiento">Fraccionamiento:</label>
        <input type="text" id="fraccionamiento" name="fraccionamiento" value="ValorFraccionamiento" disabled>

  

        <label for="proveedor">Proveedor:</label>
        <select id="proveedor" name="proveedor">
          <option value="proveedor1">Proveedor 1</option>
          <option value="proveedor2">Proveedor 2</option>
          
        </select>

  

        <label for="monto">Monto:</label>
        <input type="number" id="monto" name="monto" required>

  

        <label for="concepto">Concepto:</label>
        <input type="text" id="concepto" name="concepto" required>

  

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>

  
        <div class="botones-container">
        <button class="boton-verde" onclick="agregarEgreso()">Agregar</button>
        <button class="boton-azul">Actualizar</button>
        </div>
    </form>
  </div>
</div>
</body>